<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Willkommen!</h1>
                        <h3>Link hinzufügen:</h3>
                        <h6>(ohne http, nur www)</h6>
                        {{ form(formAdd) }}
                        <hr>
                        <h3>Suche:</h3>
                        <h6>(ein Wort ohne Sonderzeichen, Groß-/Kleinschreibung wird ignoriert)</h6>
                        {{ form(formSearch) }}

                        {% if links is same as (null) %}
                        {% elseif links is same as ([]) %}
                            <b>
                                Keine Ergebnisse gefunden.
                            </b>
                        {% else %}
                            <h3>{{ links|length }} Ergebnisse:</h3>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#id</th>
                                    <th scope="col">Link</th>
                                    <th scope="col">Titel</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for link in links %}
                                    <tr>
                                        <th scope="row">{{ link.id }}</th>
                                        <td><a href="{{ link.url }}">{{ link.url }}</a></td>
                                        <td>{{ link.titel }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
